.blogs{
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.views,
.likes,
.dislikes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: rgb(70, 2, 96);
}